--
-- PostgreSQL database dump
--

\restrict Wvndg3izVAV09O2QXGdtkWbLafBdNu28dPUu2N5U9Bpvvrb5JFCmAWyrBrapUeY

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO postgres;

--
-- Name: avaliacoes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.avaliacoes (
    id integer NOT NULL,
    avaliador_id integer NOT NULL,
    vendedor_id integer NOT NULL,
    produto_id integer,
    servico_id integer,
    nota integer NOT NULL,
    comentario text,
    criado_em timestamp without time zone
);


ALTER TABLE public.avaliacoes OWNER TO postgres;

--
-- Name: avaliacoes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.avaliacoes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.avaliacoes_id_seq OWNER TO postgres;

--
-- Name: avaliacoes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.avaliacoes_id_seq OWNED BY public.avaliacoes.id;


--
-- Name: categorias; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.categorias (
    id integer NOT NULL,
    nome character varying(100) NOT NULL,
    descricao text,
    icone_url character varying(500),
    categoria_pai_id integer,
    tipo character varying(20),
    status public.categoriastatusenum,
    ordem integer
);


ALTER TABLE public.categorias OWNER TO postgres;

--
-- Name: categorias_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.categorias_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.categorias_id_seq OWNER TO postgres;

--
-- Name: categorias_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.categorias_id_seq OWNED BY public.categorias.id;


--
-- Name: codigos_verificacao; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.codigos_verificacao (
    id integer NOT NULL,
    utilizador_id integer NOT NULL,
    codigo character varying(10) NOT NULL,
    tipo character varying(30) NOT NULL,
    expira_em timestamp without time zone NOT NULL,
    usado boolean,
    criado_em timestamp without time zone
);


ALTER TABLE public.codigos_verificacao OWNER TO postgres;

--
-- Name: codigos_verificacao_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.codigos_verificacao_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.codigos_verificacao_id_seq OWNER TO postgres;

--
-- Name: codigos_verificacao_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.codigos_verificacao_id_seq OWNED BY public.codigos_verificacao.id;


--
-- Name: documentos_bi; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.documentos_bi (
    id integer NOT NULL,
    utilizador_id integer NOT NULL,
    numero_bi character varying(30) NOT NULL,
    data_emissao date NOT NULL,
    data_validade date NOT NULL,
    foto_bi_frente_url character varying(500),
    selfie_verificacao_url character varying(500),
    status_verificacao public.statusverificacaoenum,
    observacao_rejeicao text,
    criado_em timestamp without time zone,
    atualizado_em timestamp without time zone
);


ALTER TABLE public.documentos_bi OWNER TO postgres;

--
-- Name: documentos_bi_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.documentos_bi_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.documentos_bi_id_seq OWNER TO postgres;

--
-- Name: documentos_bi_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.documentos_bi_id_seq OWNED BY public.documentos_bi.id;


--
-- Name: enderecos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.enderecos (
    id integer NOT NULL,
    utilizador_id integer NOT NULL,
    provincia character varying(100) NOT NULL,
    municipio character varying(100) NOT NULL,
    bairro character varying(150),
    endereco_completo text,
    nif character varying(20),
    criado_em timestamp without time zone,
    atualizado_em timestamp without time zone
);


ALTER TABLE public.enderecos OWNER TO postgres;

--
-- Name: enderecos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.enderecos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.enderecos_id_seq OWNER TO postgres;

--
-- Name: enderecos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.enderecos_id_seq OWNED BY public.enderecos.id;


--
-- Name: imagens_produto; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.imagens_produto (
    id integer NOT NULL,
    produto_id integer NOT NULL,
    url character varying(500) NOT NULL,
    principal boolean,
    ordem integer
);


ALTER TABLE public.imagens_produto OWNER TO postgres;

--
-- Name: imagens_produto_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.imagens_produto_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.imagens_produto_id_seq OWNER TO postgres;

--
-- Name: imagens_produto_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.imagens_produto_id_seq OWNED BY public.imagens_produto.id;


--
-- Name: imagens_servico; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.imagens_servico (
    id integer NOT NULL,
    servico_id integer NOT NULL,
    url character varying(500) NOT NULL,
    principal boolean
);


ALTER TABLE public.imagens_servico OWNER TO postgres;

--
-- Name: imagens_servico_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.imagens_servico_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.imagens_servico_id_seq OWNER TO postgres;

--
-- Name: imagens_servico_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.imagens_servico_id_seq OWNED BY public.imagens_servico.id;


--
-- Name: itens_pedido; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.itens_pedido (
    id integer NOT NULL,
    pedido_id integer NOT NULL,
    produto_id integer NOT NULL,
    vendedor_id integer NOT NULL,
    quantidade integer NOT NULL,
    preco_unitario numeric(12,2) NOT NULL,
    subtotal numeric(12,2) NOT NULL
);


ALTER TABLE public.itens_pedido OWNER TO postgres;

--
-- Name: itens_pedido_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.itens_pedido_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.itens_pedido_id_seq OWNER TO postgres;

--
-- Name: itens_pedido_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.itens_pedido_id_seq OWNED BY public.itens_pedido.id;


--
-- Name: pagamentos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pagamentos (
    id integer NOT NULL,
    pedido_id integer NOT NULL,
    metodo character varying(50) NOT NULL,
    referencia_externa character varying(200),
    valor numeric(12,2) NOT NULL,
    moeda character varying(5),
    status public.statuspagamentoenum,
    criado_em timestamp without time zone,
    pago_em timestamp without time zone
);


ALTER TABLE public.pagamentos OWNER TO postgres;

--
-- Name: pagamentos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.pagamentos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pagamentos_id_seq OWNER TO postgres;

--
-- Name: pagamentos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.pagamentos_id_seq OWNED BY public.pagamentos.id;


--
-- Name: pagamentos_servico; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pagamentos_servico (
    id integer NOT NULL,
    pedido_servico_id integer NOT NULL,
    metodo character varying(50) NOT NULL,
    referencia_externa character varying(200),
    valor numeric(12,2) NOT NULL,
    moeda character varying(5),
    status public.statuspagamentoenum,
    criado_em timestamp without time zone,
    pago_em timestamp without time zone
);


ALTER TABLE public.pagamentos_servico OWNER TO postgres;

--
-- Name: pagamentos_servico_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.pagamentos_servico_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pagamentos_servico_id_seq OWNER TO postgres;

--
-- Name: pagamentos_servico_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.pagamentos_servico_id_seq OWNED BY public.pagamentos_servico.id;


--
-- Name: pedidos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pedidos (
    id integer NOT NULL,
    comprador_id integer NOT NULL,
    numero_pedido character varying(50) NOT NULL,
    status public.statuspedidoenum,
    status_pagamento public.statuspagamentoenum,
    valor_subtotal numeric(12,2) NOT NULL,
    valor_entrega numeric(12,2),
    valor_total numeric(12,2) NOT NULL,
    moeda character varying(5),
    endereco_entrega_provincia character varying(100),
    endereco_entrega_municipio character varying(100),
    endereco_entrega_bairro character varying(150),
    endereco_entrega_completo text,
    notas text,
    criado_em timestamp without time zone,
    atualizado_em timestamp without time zone
);


ALTER TABLE public.pedidos OWNER TO postgres;

--
-- Name: pedidos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.pedidos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pedidos_id_seq OWNER TO postgres;

--
-- Name: pedidos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.pedidos_id_seq OWNED BY public.pedidos.id;


--
-- Name: pedidos_servico; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pedidos_servico (
    id integer NOT NULL,
    comprador_id integer NOT NULL,
    servico_id integer NOT NULL,
    numero_pedido character varying(50) NOT NULL,
    status public.statuspedidoenum,
    status_pagamento public.statuspagamentoenum,
    data_agendada timestamp without time zone,
    descricao_necessidade text,
    valor_acordado numeric(12,2),
    moeda character varying(5),
    criado_em timestamp without time zone,
    atualizado_em timestamp without time zone
);


ALTER TABLE public.pedidos_servico OWNER TO postgres;

--
-- Name: pedidos_servico_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.pedidos_servico_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pedidos_servico_id_seq OWNER TO postgres;

--
-- Name: pedidos_servico_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.pedidos_servico_id_seq OWNED BY public.pedidos_servico.id;


--
-- Name: perfis_vendedor; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.perfis_vendedor (
    id integer NOT NULL,
    utilizador_id integer NOT NULL,
    nome_loja character varying(150) NOT NULL,
    descricao_loja text,
    logo_loja_url character varying(500),
    banner_loja_url character varying(500),
    tipo_vendedor public.tipovendedorenum,
    tipo_loja public.tipolojaenum,
    verificado boolean,
    ativo boolean,
    avaliacao_media double precision,
    total_vendas integer,
    criado_em timestamp without time zone,
    atualizado_em timestamp without time zone
);


ALTER TABLE public.perfis_vendedor OWNER TO postgres;

--
-- Name: perfis_vendedor_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.perfis_vendedor_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.perfis_vendedor_id_seq OWNER TO postgres;

--
-- Name: perfis_vendedor_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.perfis_vendedor_id_seq OWNED BY public.perfis_vendedor.id;


--
-- Name: produtos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.produtos (
    id integer NOT NULL,
    vendedor_id integer NOT NULL,
    categoria_id integer,
    nome character varying(200) NOT NULL,
    descricao text,
    preco numeric(12,2) NOT NULL,
    preco_promocional numeric(12,2),
    stock integer,
    sku character varying(100),
    ativo boolean,
    destaque boolean,
    avaliacao_media double precision,
    total_avaliacoes integer,
    criado_em timestamp without time zone,
    atualizado_em timestamp without time zone
);


ALTER TABLE public.produtos OWNER TO postgres;

--
-- Name: produtos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.produtos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.produtos_id_seq OWNER TO postgres;

--
-- Name: produtos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.produtos_id_seq OWNED BY public.produtos.id;


--
-- Name: servicos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.servicos (
    id integer NOT NULL,
    vendedor_id integer NOT NULL,
    categoria_id integer,
    nome character varying(200) NOT NULL,
    descricao text,
    preco_base numeric(12,2) NOT NULL,
    duracao_estimada character varying(100),
    disponivel_online boolean,
    disponivel_presencial boolean,
    ativo boolean,
    destaque boolean,
    avaliacao_media double precision,
    total_avaliacoes integer,
    criado_em timestamp without time zone,
    atualizado_em timestamp without time zone
);


ALTER TABLE public.servicos OWNER TO postgres;

--
-- Name: servicos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.servicos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.servicos_id_seq OWNER TO postgres;

--
-- Name: servicos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.servicos_id_seq OWNED BY public.servicos.id;


--
-- Name: utilizadores; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.utilizadores (
    id integer NOT NULL,
    nome_completo character varying(200) NOT NULL,
    nome_utilizador character varying(80) NOT NULL,
    email character varying(255) NOT NULL,
    numero_telefone character varying(20) NOT NULL,
    senha_hash character varying(255) NOT NULL,
    data_nascimento date,
    genero public.generoenum,
    foto_perfil_url character varying(500),
    tipo_utilizador public.tipoutilizadorenum NOT NULL,
    ativo boolean,
    email_verificado boolean,
    telefone_verificado boolean,
    criado_em timestamp without time zone,
    atualizado_em timestamp without time zone,
    ultimo_login timestamp without time zone
);


ALTER TABLE public.utilizadores OWNER TO postgres;

--
-- Name: utilizadores_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.utilizadores_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.utilizadores_id_seq OWNER TO postgres;

--
-- Name: utilizadores_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.utilizadores_id_seq OWNED BY public.utilizadores.id;


--
-- Name: avaliacoes id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.avaliacoes ALTER COLUMN id SET DEFAULT nextval('public.avaliacoes_id_seq'::regclass);


--
-- Name: categorias id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categorias ALTER COLUMN id SET DEFAULT nextval('public.categorias_id_seq'::regclass);


--
-- Name: codigos_verificacao id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.codigos_verificacao ALTER COLUMN id SET DEFAULT nextval('public.codigos_verificacao_id_seq'::regclass);


--
-- Name: documentos_bi id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.documentos_bi ALTER COLUMN id SET DEFAULT nextval('public.documentos_bi_id_seq'::regclass);


--
-- Name: enderecos id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.enderecos ALTER COLUMN id SET DEFAULT nextval('public.enderecos_id_seq'::regclass);


--
-- Name: imagens_produto id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.imagens_produto ALTER COLUMN id SET DEFAULT nextval('public.imagens_produto_id_seq'::regclass);


--
-- Name: imagens_servico id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.imagens_servico ALTER COLUMN id SET DEFAULT nextval('public.imagens_servico_id_seq'::regclass);


--
-- Name: itens_pedido id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.itens_pedido ALTER COLUMN id SET DEFAULT nextval('public.itens_pedido_id_seq'::regclass);


--
-- Name: pagamentos id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pagamentos ALTER COLUMN id SET DEFAULT nextval('public.pagamentos_id_seq'::regclass);


--
-- Name: pagamentos_servico id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pagamentos_servico ALTER COLUMN id SET DEFAULT nextval('public.pagamentos_servico_id_seq'::regclass);


--
-- Name: pedidos id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pedidos ALTER COLUMN id SET DEFAULT nextval('public.pedidos_id_seq'::regclass);


--
-- Name: pedidos_servico id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pedidos_servico ALTER COLUMN id SET DEFAULT nextval('public.pedidos_servico_id_seq'::regclass);


--
-- Name: perfis_vendedor id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.perfis_vendedor ALTER COLUMN id SET DEFAULT nextval('public.perfis_vendedor_id_seq'::regclass);


--
-- Name: produtos id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.produtos ALTER COLUMN id SET DEFAULT nextval('public.produtos_id_seq'::regclass);


--
-- Name: servicos id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.servicos ALTER COLUMN id SET DEFAULT nextval('public.servicos_id_seq'::regclass);


--
-- Name: utilizadores id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.utilizadores ALTER COLUMN id SET DEFAULT nextval('public.utilizadores_id_seq'::regclass);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: avaliacoes avaliacoes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.avaliacoes
    ADD CONSTRAINT avaliacoes_pkey PRIMARY KEY (id);


--
-- Name: categorias categorias_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categorias
    ADD CONSTRAINT categorias_pkey PRIMARY KEY (id);


--
-- Name: codigos_verificacao codigos_verificacao_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.codigos_verificacao
    ADD CONSTRAINT codigos_verificacao_pkey PRIMARY KEY (id);


--
-- Name: documentos_bi documentos_bi_numero_bi_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.documentos_bi
    ADD CONSTRAINT documentos_bi_numero_bi_key UNIQUE (numero_bi);


--
-- Name: documentos_bi documentos_bi_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.documentos_bi
    ADD CONSTRAINT documentos_bi_pkey PRIMARY KEY (id);


--
-- Name: documentos_bi documentos_bi_utilizador_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.documentos_bi
    ADD CONSTRAINT documentos_bi_utilizador_id_key UNIQUE (utilizador_id);


--
-- Name: enderecos enderecos_nif_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.enderecos
    ADD CONSTRAINT enderecos_nif_key UNIQUE (nif);


--
-- Name: enderecos enderecos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.enderecos
    ADD CONSTRAINT enderecos_pkey PRIMARY KEY (id);


--
-- Name: enderecos enderecos_utilizador_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.enderecos
    ADD CONSTRAINT enderecos_utilizador_id_key UNIQUE (utilizador_id);


--
-- Name: imagens_produto imagens_produto_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.imagens_produto
    ADD CONSTRAINT imagens_produto_pkey PRIMARY KEY (id);


--
-- Name: imagens_servico imagens_servico_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.imagens_servico
    ADD CONSTRAINT imagens_servico_pkey PRIMARY KEY (id);


--
-- Name: itens_pedido itens_pedido_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.itens_pedido
    ADD CONSTRAINT itens_pedido_pkey PRIMARY KEY (id);


--
-- Name: pagamentos pagamentos_pedido_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pagamentos
    ADD CONSTRAINT pagamentos_pedido_id_key UNIQUE (pedido_id);


--
-- Name: pagamentos pagamentos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pagamentos
    ADD CONSTRAINT pagamentos_pkey PRIMARY KEY (id);


--
-- Name: pagamentos_servico pagamentos_servico_pedido_servico_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pagamentos_servico
    ADD CONSTRAINT pagamentos_servico_pedido_servico_id_key UNIQUE (pedido_servico_id);


--
-- Name: pagamentos_servico pagamentos_servico_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pagamentos_servico
    ADD CONSTRAINT pagamentos_servico_pkey PRIMARY KEY (id);


--
-- Name: pedidos pedidos_numero_pedido_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pedidos
    ADD CONSTRAINT pedidos_numero_pedido_key UNIQUE (numero_pedido);


--
-- Name: pedidos pedidos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pedidos
    ADD CONSTRAINT pedidos_pkey PRIMARY KEY (id);


--
-- Name: pedidos_servico pedidos_servico_numero_pedido_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pedidos_servico
    ADD CONSTRAINT pedidos_servico_numero_pedido_key UNIQUE (numero_pedido);


--
-- Name: pedidos_servico pedidos_servico_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pedidos_servico
    ADD CONSTRAINT pedidos_servico_pkey PRIMARY KEY (id);


--
-- Name: perfis_vendedor perfis_vendedor_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.perfis_vendedor
    ADD CONSTRAINT perfis_vendedor_pkey PRIMARY KEY (id);


--
-- Name: perfis_vendedor perfis_vendedor_utilizador_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.perfis_vendedor
    ADD CONSTRAINT perfis_vendedor_utilizador_id_key UNIQUE (utilizador_id);


--
-- Name: produtos produtos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.produtos
    ADD CONSTRAINT produtos_pkey PRIMARY KEY (id);


--
-- Name: produtos produtos_sku_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.produtos
    ADD CONSTRAINT produtos_sku_key UNIQUE (sku);


--
-- Name: servicos servicos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.servicos
    ADD CONSTRAINT servicos_pkey PRIMARY KEY (id);


--
-- Name: utilizadores utilizadores_numero_telefone_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.utilizadores
    ADD CONSTRAINT utilizadores_numero_telefone_key UNIQUE (numero_telefone);


--
-- Name: utilizadores utilizadores_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.utilizadores
    ADD CONSTRAINT utilizadores_pkey PRIMARY KEY (id);


--
-- Name: ix_avaliacoes_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_avaliacoes_id ON public.avaliacoes USING btree (id);


--
-- Name: ix_categorias_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_categorias_id ON public.categorias USING btree (id);


--
-- Name: ix_codigos_verificacao_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_codigos_verificacao_id ON public.codigos_verificacao USING btree (id);


--
-- Name: ix_documentos_bi_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_documentos_bi_id ON public.documentos_bi USING btree (id);


--
-- Name: ix_enderecos_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_enderecos_id ON public.enderecos USING btree (id);


--
-- Name: ix_imagens_produto_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_imagens_produto_id ON public.imagens_produto USING btree (id);


--
-- Name: ix_imagens_servico_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_imagens_servico_id ON public.imagens_servico USING btree (id);


--
-- Name: ix_itens_pedido_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_itens_pedido_id ON public.itens_pedido USING btree (id);


--
-- Name: ix_pagamentos_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_pagamentos_id ON public.pagamentos USING btree (id);


--
-- Name: ix_pagamentos_servico_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_pagamentos_servico_id ON public.pagamentos_servico USING btree (id);


--
-- Name: ix_pedidos_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_pedidos_id ON public.pedidos USING btree (id);


--
-- Name: ix_pedidos_servico_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_pedidos_servico_id ON public.pedidos_servico USING btree (id);


--
-- Name: ix_perfis_vendedor_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_perfis_vendedor_id ON public.perfis_vendedor USING btree (id);


--
-- Name: ix_perfis_vendedor_nome_loja; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_perfis_vendedor_nome_loja ON public.perfis_vendedor USING btree (nome_loja);


--
-- Name: ix_produtos_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_produtos_id ON public.produtos USING btree (id);


--
-- Name: ix_produtos_nome; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_produtos_nome ON public.produtos USING btree (nome);


--
-- Name: ix_servicos_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_servicos_id ON public.servicos USING btree (id);


--
-- Name: ix_servicos_nome; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_servicos_nome ON public.servicos USING btree (nome);


--
-- Name: ix_utilizadores_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_utilizadores_email ON public.utilizadores USING btree (email);


--
-- Name: ix_utilizadores_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_utilizadores_id ON public.utilizadores USING btree (id);


--
-- Name: ix_utilizadores_nome_utilizador; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_utilizadores_nome_utilizador ON public.utilizadores USING btree (nome_utilizador);


--
-- Name: avaliacoes avaliacoes_avaliador_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.avaliacoes
    ADD CONSTRAINT avaliacoes_avaliador_id_fkey FOREIGN KEY (avaliador_id) REFERENCES public.utilizadores(id);


--
-- Name: avaliacoes avaliacoes_produto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.avaliacoes
    ADD CONSTRAINT avaliacoes_produto_id_fkey FOREIGN KEY (produto_id) REFERENCES public.produtos(id);


--
-- Name: avaliacoes avaliacoes_servico_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.avaliacoes
    ADD CONSTRAINT avaliacoes_servico_id_fkey FOREIGN KEY (servico_id) REFERENCES public.servicos(id);


--
-- Name: avaliacoes avaliacoes_vendedor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.avaliacoes
    ADD CONSTRAINT avaliacoes_vendedor_id_fkey FOREIGN KEY (vendedor_id) REFERENCES public.perfis_vendedor(id);


--
-- Name: categorias categorias_categoria_pai_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categorias
    ADD CONSTRAINT categorias_categoria_pai_id_fkey FOREIGN KEY (categoria_pai_id) REFERENCES public.categorias(id);


--
-- Name: codigos_verificacao codigos_verificacao_utilizador_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.codigos_verificacao
    ADD CONSTRAINT codigos_verificacao_utilizador_id_fkey FOREIGN KEY (utilizador_id) REFERENCES public.utilizadores(id);


--
-- Name: documentos_bi documentos_bi_utilizador_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.documentos_bi
    ADD CONSTRAINT documentos_bi_utilizador_id_fkey FOREIGN KEY (utilizador_id) REFERENCES public.utilizadores(id);


--
-- Name: enderecos enderecos_utilizador_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.enderecos
    ADD CONSTRAINT enderecos_utilizador_id_fkey FOREIGN KEY (utilizador_id) REFERENCES public.utilizadores(id);


--
-- Name: imagens_produto imagens_produto_produto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.imagens_produto
    ADD CONSTRAINT imagens_produto_produto_id_fkey FOREIGN KEY (produto_id) REFERENCES public.produtos(id);


--
-- Name: imagens_servico imagens_servico_servico_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.imagens_servico
    ADD CONSTRAINT imagens_servico_servico_id_fkey FOREIGN KEY (servico_id) REFERENCES public.servicos(id);


--
-- Name: itens_pedido itens_pedido_pedido_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.itens_pedido
    ADD CONSTRAINT itens_pedido_pedido_id_fkey FOREIGN KEY (pedido_id) REFERENCES public.pedidos(id);


--
-- Name: itens_pedido itens_pedido_produto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.itens_pedido
    ADD CONSTRAINT itens_pedido_produto_id_fkey FOREIGN KEY (produto_id) REFERENCES public.produtos(id);


--
-- Name: itens_pedido itens_pedido_vendedor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.itens_pedido
    ADD CONSTRAINT itens_pedido_vendedor_id_fkey FOREIGN KEY (vendedor_id) REFERENCES public.perfis_vendedor(id);


--
-- Name: pagamentos pagamentos_pedido_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pagamentos
    ADD CONSTRAINT pagamentos_pedido_id_fkey FOREIGN KEY (pedido_id) REFERENCES public.pedidos(id);


--
-- Name: pagamentos_servico pagamentos_servico_pedido_servico_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pagamentos_servico
    ADD CONSTRAINT pagamentos_servico_pedido_servico_id_fkey FOREIGN KEY (pedido_servico_id) REFERENCES public.pedidos_servico(id);


--
-- Name: pedidos pedidos_comprador_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pedidos
    ADD CONSTRAINT pedidos_comprador_id_fkey FOREIGN KEY (comprador_id) REFERENCES public.utilizadores(id);


--
-- Name: pedidos_servico pedidos_servico_comprador_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pedidos_servico
    ADD CONSTRAINT pedidos_servico_comprador_id_fkey FOREIGN KEY (comprador_id) REFERENCES public.utilizadores(id);


--
-- Name: pedidos_servico pedidos_servico_servico_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pedidos_servico
    ADD CONSTRAINT pedidos_servico_servico_id_fkey FOREIGN KEY (servico_id) REFERENCES public.servicos(id);


--
-- Name: perfis_vendedor perfis_vendedor_utilizador_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.perfis_vendedor
    ADD CONSTRAINT perfis_vendedor_utilizador_id_fkey FOREIGN KEY (utilizador_id) REFERENCES public.utilizadores(id);


--
-- Name: produtos produtos_categoria_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.produtos
    ADD CONSTRAINT produtos_categoria_id_fkey FOREIGN KEY (categoria_id) REFERENCES public.categorias(id);


--
-- Name: produtos produtos_vendedor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.produtos
    ADD CONSTRAINT produtos_vendedor_id_fkey FOREIGN KEY (vendedor_id) REFERENCES public.perfis_vendedor(id);


--
-- Name: servicos servicos_categoria_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.servicos
    ADD CONSTRAINT servicos_categoria_id_fkey FOREIGN KEY (categoria_id) REFERENCES public.categorias(id);


--
-- Name: servicos servicos_vendedor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.servicos
    ADD CONSTRAINT servicos_vendedor_id_fkey FOREIGN KEY (vendedor_id) REFERENCES public.perfis_vendedor(id);


--
-- PostgreSQL database dump complete
--

\unrestrict Wvndg3izVAV09O2QXGdtkWbLafBdNu28dPUu2N5U9Bpvvrb5JFCmAWyrBrapUeY

